@import '../variables.scss';

.title {
    width: 100%;
    background-color: $light-bg;
    padding: 20px 0;

    .title__inner {
      @extend %app__content;
      display: flex;

      .title__text {
        h1 {
          font-size: $font-xlarge;
          line-height: 20px;
          margin-top: 5px;
          margin-bottom: 20px;
          color: $primary-color;
          font-weight: bold;
        }

        .title__details {
          font-size: $font-size;
          line-height: 15px;
          color: $secondary-color;
          display: flex;

          .details__company, .details__status {
            display: flex;
            margin-right: 20px;

            img {
              margin-right: 6px;
            }
          }

          button.details__show_more {
            border: none;
            background: none;
            text-decoration: underline;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            cursor: pointer;
          }
        }
      }

      .title__actions {
        margin-left: auto;

        .action__btns {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-bottom: 16px;

          .btn {
            font-size: $font-size;
            color: $secondary-color;
            border: none;
            margin-left: 10px;
            padding: 0 14px;
            height: 30px;
            border-radius: 5px;
            background-image: $btn-gradient-light;
            cursor: pointer;

            &.btn__save {
              color: $white;
              font-weight: bold;
              background-image: $btn-gradient-color;
            }
          }
        }

        .action__last_change {
          font-size: $font-tab;
          color: $tertiary-color;
        }
      }
    }
  }