@import '../variables.scss';

.help__wrapper {
    margin-left: auto;
    position: relative;

    .help__btn {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    .help__panel {
        @include dropdown();
        right: -15px;
        width: 340px;
        padding: 20px;
        font-size: $font-small;
        line-height: 20px;
        color: $main-color;


        &:before {
            @include dropdown__arrow();
            right: 20px;
        }
    }
}

.help__btn--open {
    background-image: $btn-gradient-light-active;
}

.help__btn--closed {
    background-image: $btn-gradient-light;
}