@import '../variables.scss';

.select {
    width: 220px;
    height: 30px;
    background-color: $white;
    border: $input-border;
    font-size: $font-size;
    position: relative;

    .select__value {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 15px);
        height: 100%;
        padding: 7px;
    }

    .select__arrow {
        position: absolute;
        width: 7px;
        height: 5px;
        top: 12px;
        right: 7px;
    }

    .select__options {
        position: absolute;
        top: 100%;
        left: -1px;
        width: calc(100% + 2px);
        background: $white;
        border: $input-border;
        z-index: 1;

        .option {
            padding: 7px;
            cursor: pointer;

            &:hover {
                background: $light-bg;
            }
        }
    }

    .select__options--open {
        display: block;
    }

    .select__options--closed {
        display: none;
    }
}