@import '../variables.scss';

.app__header {
    width: 100%;
    height: 84px;
    background-color: $header-bg;
    display: flex;
    align-items: center;

    .header__inner {
        @extend %app__content;
        display: flex;
        align-items: center;
        
        .logo {
            display: flex;
            align-items: center;

            .logo__img {
                margin-right: 18px;
            }
            
            .logo__text {
                font-size: $font-xlarge;
                line-height: 32px;
                color: $header-color;
                font-family: $logo-font;
                font-weight: 400;
            }
        }

        .user {
            margin-left: auto;
            display: flex;

            .user__text {
                font-size: $font-small;
                line-height: 20px;
                color: $header-color;
                font-weight: bold;
                text-align: right;
                margin-right: 20px;

                .user__text--company {
                    font-weight: 400;
                }
            }

            .user__btns {
                display: flex;
                
                .btn__settings {
                    @extend %header__button;
                    border: $header-input-border;
                    padding: 4px;

                    .btn__settings__img {
                        width: 14px;
                        height: 14px;
                    }
                }                    

                .btn__logout {
                    @extend %header__button;
                    padding: 8px;
                    border: $header-input-border;

                    .btn__logout__img {
                        width: 11px;
                        height: 11px;
                    }
                }
            }
        }
    }
}