@import '../variables.scss';

.notifications__wrapper {
    position: relative;
    margin: 0 20px;

    .notifications__btn {
        @extend %header__button;
        padding: 4px;
        cursor: pointer;
    
        .notifications__btn__img {
            width: 14px;
            height: 14px;
        }

        &.btn--open {
            border: $header-active-input-border;
        }

        &.btn--closed {
            border: $header-input-border;
        }

        &:focus {
            outline: none;
        }
    }

    .notifications__panel {
        @include dropdown();
        width: 300px;
        right: -15px;

        &:before {
            @include dropdown__arrow();
            right: 20px;
        }

        .panel__tabs {
            margin: 10px;
            display: flex;
            border-radius: 5px;
            border: 1px solid #dfdddf;

            .tab {
                width: 140px;
                height: 30px;
                text-align: center;
                font-size: $font-tab;
                font-weight: bold;
                text-transform: uppercase;
                line-height: 30px;
                cursor: pointer;

                &.tab--open {
                    color: $secondary-color;
                    background: $white;
                }

                &.tab--closed {
                    color: $tertiary-color;
                    background-color: $closed-tab-bg;
                }
            }
        }

        .panel__notifications {
            .notification__message {
                height: 48px;
                padding: 10px;
                display: flex;
                align-items: center;
                border-top: $form-group-border;
                cursor: pointer;

                .message__preview {
                    width: calc(100% - 10px);
                    font-size: $font-small;
                    line-height: 16px;

                    .message__text {
                        font-weight: bold;
                    }
                }

                &.message--unread {
                    background: $unread-msg-bg;
                }
            }
        }

        .panel__see-all {
            font-size: $font-small;
            line-height: 16px;
            color: $link-color;
            text-align: center;
            height: 50px;
            line-height: 50px;
            border-top: $form-group-border;
            cursor: pointer;
        }
    }
}