@import '../variables.scss';

.search__wrapper {
    margin-left: 130px;
    width: 260px;
}

.search {
    height: 30px;
    border-radius: 15px;
    background-color: $transparent;
    padding: 5px 7px;
    position: relative;

    .search__icon {
        padding-right: 7px;
    }

    .search__input {
        @extend %search__placeholder;
        border: none;
        background: none;

        &:focus {
            outline: none;
        }
    }
}

.search__suggestions {
    @include dropdown();
    width: 260px;
    padding-bottom: 10px;

    &:before {
        @include dropdown__arrow();
        left: 20px;
    }

    .suggestion__title {
        padding: 20px 10px 10px 10px;
        font-size: $font-xsmall;
        color: $tertiary-color;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: $form-group-border;
    }

    .suggestion {
        height: 30px;
        font-size: $font-small;
        color: $main-color;
        padding: 0 10px;    
        border-bottom: $form-group-border;
        cursor: pointer;
        display: flex;
        align-items: center;

        .suggestion__chevron {
            margin-left: auto;
        }

        &:hover {
            background: $light-bg;
        }
    }
}

.search--active {
    border: $header-active-input-border;

    .search__input {
        caret-color: $white;
        color: $header-active-color;
    }
}

.search--inactive {
    border: $header-input-border;
}