@import '../variables.scss';

.content {
    @extend %app__content;
    padding-bottom: 45px;

    .form-group {
        display: flex;
        padding: 20px 0;

        &:nth-child(n+1) {
            border-top: $form-group-border;
        }

        .form-group__title {
            font-size: $font-medium;
            line-height: 20px;
            color: $main-color;
            width: 240px;
            padding-top: 5px;
        }

        .form-group__control {
            margin-right: 20px;

            &.form-group__control--error {
                label {
                    display: flex;
                    align-items: center;
                    color: $error-color;

                    .error__indicator {
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        background-color: $error-color;
                        color: $white;
                        font-size: $font-xsmall;
                        font-weight: bold;
                        line-height: 12px;
                        text-align: center;
                        margin-right: 5px;
                    }   
                }

                .form-group__input {
                    border: 1px solid $error-color;
                    color: $error-color;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .controls--inline {
                display: flex;
            }

            .form-group__input {
                @extend %input;
                margin-top: 10px;
                padding: 0 7px;
            }

            .select {
                margin-top: 10px;
            }

            label {
                @extend %input__label;
            }

            .category__label {
                font-size: $font-size;
                line-height: 30px;
                color: $main-color;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                padding-left: 20px;

                input {
                    position: absolute;
                    opacity: 0;
                }

                .radio-btn {
                    position: absolute;
                    top: 9px;
                    left: 0;
                    height: 12px;
                    width: 12px;
                    background-image: url('../assets/checkmark.png');
                    background-repeat: no-repeat;
                    background-position: center;
                }

                input:checked ~ .radio-btn {
                    background-image: url('../assets/checkmark_checked.png');
                }
            }
        }
        
        .input--big {
            width: $input-big;
        }

        .input--medium {
            width: $input-medium;
        }

        .input--small {
            width: $input-small;
        }

        .input--xsmall {
            width: $input-xsmall;
        }

        .input--inline {
            display: inline-block;
            
            &:first-child {
                margin-right: 10px;
            }
        }

        .form-group__rows {
            display: block;
            width: calc(100% - 240px);

            .add-form-row__btn {
                margin-top: 30px;
                border: none;
                background: $transparent;
                cursor: pointer;
                font-size: $font-size;
                line-height: 20px;
                color: $link-color;
            }
        }
    }
}

.date-picker-group {
    display: flex;
    align-items: center;

    .DateInput {
        width: 140px;
    }

    .DateInput_input {
        @extend %input;
                
        padding: 0 7px;
        width: 140px;
        display: flex;
        font-weight: 400;
        color: $main-color;
        line-height: $font-size;
    }
    
    .date-picker-hint {
        margin-left: 10px;
        font-size: $font-size;
        line-height: 20px;
        color: $date-picker-hint-color;
        font-family: $main-font;
    }
}