@import '../variables.scss';

.warning__message {
    @extend %app__content;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $message-bg;
    padding: 10px 20px;
    display: flex;
    align-items: baseline;

    &.message--hidden {
      display: none;
    }

    .message__text {
      font-size: $font-size;
      line-height: 20px;
      color: $main-color;
    }

    .message__close_btn {
      width: 12px;
      height: 12px;
      border: none;
      background: none;
      margin-left: auto;
      cursor: pointer;
    }
}