@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$app-width: 940px;

// fonts
$main-font: "Arial";
$logo-font: "Futura Std", 'Open Sans', sans-serif;

// font colors
$main-color: #333333;
$label-color: #666666;
$link-color: #0066cc;
$date-picker-hint-color: #808080;
$input-color: #999999;
$primary-color: #383245;
$secondary-color: #4d4757;
$tertiary-color: #7e7985;

// font sizes
$font-xlarge: 24px;
$font-big: 18px;
$font-medium: 16px;
$font-size: 14px;
$font-small: 13px;
$font-tab: 12px;
$font-xsmall: 10px;

// general colors
$transparent: rgba(255,255,255,0);
$white: rgb(255,255,255);
$light-bg: #f1efef;

// header
$header-bg: #373145;
$header-color: #dfe0af;
$header-input-border: 2px solid $header-color;
$header-active-color: #ff9965;
$header-active-input-border: 2px solid $header-active-color;
$search-placeholder-color: #8b897a;

// notifications
$closed-tab-bg: #dfdddf;
$unread-msg-bg: #fff9c7;

// navigation
$nav-bg: #a5c3bb;
$active-tab-color: #569492;
$active-tab-gradient: linear-gradient(0deg, $light-bg 0%, $white 100%);

// message
$message-bg: #ffe387;

// button gradients
$btn-gradient-light: linear-gradient(0deg, #d3d1d5 0%, #e3e3e5 100%);
$btn-gradient-light-active: linear-gradient(0deg, #e3e3e5 0%, #d3d1d5 100%);
$btn-gradient-color: linear-gradient(0deg, #078b79 0%, #77c5a1 100%);

// inputs
$input-border: 1px solid #b9b7bb;
$form-group-border: 1px solid #dfdddf;
$input-big: 300px;
$input-medium: 220px;
$input-small: 150px;
$input-xsmall: 60px;
$error-color: #dc291e;

// mixins & inheritance

%app__content {
    width: $app-width;
    margin: 0 auto;
}

%header__button {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: $transparent;
}

@mixin dropdown__arrow() {
    content: "";
    position: absolute;
    top: -10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
}

@mixin dropdown() {
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 2.5px 4.33px 20px rgba(0,0,0,0.25);
    background-color: $white;
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 20px;
}

@mixin input__placeholder($size, $color) {
    font-size: $size;
    line-height: 20px;
    color: $color;
    font-family: $main-font;
}

%input__label {
    font-size: 14px;
    line-height: 20px;
    color: $label-color;
    display: block;
    position: relative;
}

%search__placeholder {
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include input__placeholder($font-small, $search-placeholder-color);
    }
    
    &::-moz-placeholder { /* Firefox 19+ */
        @include input__placeholder($font-small, $search-placeholder-color);
    }
    
    &:-ms-input-placeholder { /* IE 10+ */
        @include input__placeholder($font-small, $search-placeholder-color);
    }
    
    &:-moz-placeholder { /* Firefox 18- */
        @include input__placeholder($font-small, $search-placeholder-color);
    }
}

%input {
    height: 30px;
    background-color: $white;
    border: $input-border;
    font-size: $font-size;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include input__placeholder($font-size, $input-color);
    }
    
    &::-moz-placeholder { /* Firefox 19+ */
        @include input__placeholder($font-size, $input-color);
    }
    
    &:-ms-input-placeholder { /* IE 10+ */
        @include input__placeholder($font-size, $input-color);
    }
    
    &:-moz-placeholder { /* Firefox 18- */
        @include input__placeholder($font-size, $input-color);
    }
}