@import '../variables.scss';

.send-button__wrapper {
    position: relative;
}

.send-button {
    display: flex;
    align-items: center;
    font-size: $font-size;
    color: $secondary-color;
    border: none;
    margin-left: 10px;
    padding: 0 14px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

    img {
        margin-left: 5px;
    }

    &:focus {
        outline: none;
    }
}

.send-button--closed {
    background-image: $btn-gradient-light;
}

.send-button--open {
    background-image: $btn-gradient-light-active;
}

.send-button__menu {
    @include dropdown();
    width: 121px;
    padding: 10px 0;
    right: -10px;

    &:before {
        @include dropdown__arrow();
        right: 20px;
    }

    .send-button__option {
        padding: 0 18px;
        font-size: $font-small;
        line-height: 32px;

        &:hover {
            cursor: pointer;
            background: $light-bg;
        }
    }
}