@import '../variables.scss';

.app__nav {
    width: 100%;
    height: 40px;
    background-color: $nav-bg;

    .nav__inner {
      @extend %app__content;
      display: flex;

      .tab {
        font-size: $font-small;
        line-height: 20px;
        padding: 10px 20px;
        color: $primary-color;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
      }

      .tab--active {
        background-image: $active-tab-gradient;
        color: $active-tab-color;
      }
    }
}