@import '../variables.scss';

footer {
    width: 100%;
    height: 220px;
    background-color: $light-bg;

    .footer__inner {
        @extend %app__content;
        padding-top: 40px;
        display: flex;

        .footer__logo {
            width: 240px;
            height: 140px;
            text-align: center;
        }

        .footer__contact {
            color: $secondary-color;
            font-size: $font-size;
            margin-right: 90px;

            .contact__title {
                font-size: $font-big;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 25px;
            }

            .contact__phone, .contact__open, .contact__email {
                padding-bottom: 5px;
            }

            .contact__open {
                color: $tertiary-color;
                padding-bottom: 25px;
            }
            
        }

        .footer__help {
            color: $secondary-color;
            font-size: $font-size;
            margin-right: 90px;

            .help__title {
                font-size: $font-big;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 25px;
            }

            .help__link {
                display: flex;
                align-items: center;
                padding-bottom: 5px;

                .link__arrow {
                    height: 10px;
                    padding-right: 5px;
                }
            }
        }

        .footer__social {
            color: $secondary-color;
            font-size: $font-size;

            .social__title {
                font-size: $font-big;
                line-height: 20px;
                margin-top: 5px;
                margin-bottom: 25px;
            }

            .social__links {
                display: flex;
                margin-bottom: 20px;

                .social__link {
                    width: 43px;
                    height: 43px;
                    border-radius: 21px;
                    background-color: $white;
                    margin-right: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .feedback__link {
                display: flex;
                align-items: center;

                .link__arrow {
                    height: 10px;
                    padding-right: 5px;
                }
            }
        }
    }
}