@import '../variables.scss';

.form-group__row {
    display: grid;
    grid-template-columns: 320px 240px 50px auto;
    margin-top: 10px;

    label {
        @extend %input__label;
    }

    .form-row__input {
        @extend %input;
        padding: 0 7px;
    }

    .remove-row__btn {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-image: $btn-gradient-light;
        border: none;
        cursor: pointer;
    }
}